/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}

.m-auto{
    margin: auto;
}

.w-80{
    width: 80%;
}

.btn{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
}

a{
    text-decoration: none;
    color: white;
}

/* column */
.col-5{
    width: calc((100% / 12) * 5);
    padding: 1rem;
}

.col-4{
    width: calc((100% / 12) * 4);
}

/* HEADER */ 
.site_header{
    width: 100%;
    height: 80px;
    background: rgb(5, 124, 204);
}

.container_header{
    align-items: center;
    color: white;
    min-width: 700px;
}

.header_logo{
    width: 15%;
}

.row_menu_bar{
    justify-content: center;
    width: 75%;
    margin: 1rem;
    font-size: 1.2rem;
    min-width: 760px;
}

.header_login{
    background: white;
    color: black;
    padding: 0.5rem;
    border-radius: 1rem;
}

/* MAIN */
.download_open_bg{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.download_open_bg .flex_container{
    width: 35%;
    text-align: center;
}

.download_open_bg h1{
    color: white;
    font-size: 4rem;
    margin-bottom: 3rem;
}

.download_open_bg p{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.down_mac{
    background: white;
    color: black;
    padding: 1rem 1.5rem;
    border-radius: 1.7rem;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.open_browser{
    background: black;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 1.7rem;
    font-size: 1.5rem;
}


.text_content{
    width: 40%;
}

.image_content{
    width: 60%;
}

.image_content img{
    width: 100%;
}

.text_content h2{
    font-size: 4.5rem;
    text-align: left;
    padding: 3rem;
}

.text_content p{
    font-size: 1.8rem;
    text-align: left;
    padding: 3rem;
}



/* FOOTER */
.left_top_footer{
    width: 35%;
}

.footer_nav{
    width: 100%;
}

.footer_top{
    border-bottom: 0.1rem blue solid;
}

.footer_bottom{
    justify-content: space-between;
    align-items: center;
}


/* DEBUG */
.debug .site_header{
    background-color: red;
    border: 0.3rem dashed green;
}

.debug .site_header .container_header{
    height: 100%;
    background: #ededed;
    border: 0.3rem dotted black;
}

.debug .header_logo{
    background: yellow;
    height: 3rem;
}

.debug .row_menu_bar{
    background: black;
    height: 3rem;
}

.debug .col-5{
    background-color: white;
    border: 2px solid black;
}

.debug .header_login{
    background-color: yellow;
    height: 3rem;
}

.debug .download_open_bg{
    height: 30rem;
    background: rgb(24, 97, 107);
    border: 0.3rem double yellow;
}

.debug main .download_open_bg .flex_container{
    background-color: red;
    height: 20rem;
    border: 0.3rem dotted black;
}

.debug .section_bg{
    height: 40rem;
    background: blue;
    border: 0.3rem dashed white;
}

.debug .image_content{
    height: 20rem;
    background: white;
    border: 0.2rem solid grey;
}

.debug .text_content{
    height: 20rem;
    background: yellow;
    border: 0.2rem dotted green;
}

.debug .section_bg .flex_container{
    height: 20rem;
    background: orange;
    border: 0.3rem solid black;
}

.debug footer{
    background: #706e6e;
}

.debug footer .footer_top{
    height: 20rem;
    background: purple;
}

.debug footer .left_top_footer{
    height: 18rem;
    background: yellow;
    border: 0.3rem solid orange;
}

.debug footer .footer_top .footer_nav{
    height: 18rem;
    background: white;
    border: 0.3rem solid black;
}

.debug footer .footer_top .footer_nav .col-4{
    border: 0.1rem dotted blue;
}

.debug footer .footer_bottom{
    height: 4rem;
    background: green;
    border: 0.1rem dotted white;
}

.debug footer .footer_bottom .logo_footer{
    height: 2rem;
    width: 5rem;    
    background: #000000;
}

.debug footer .footer_bottom .sign_in_footer{
    height: 2rem;
    width: 5rem;    
    background: #00a0eb;
}
